<!DOCTYPE html>
<html>
<head>
  <title>About Page</title>
</head>
<body style="font-family: Arial; text-align:center;">
  <h1><%= info.name %></h1>
  <p><strong>Author:</strong> <%= info.author %></p>
  <p><%= info.description %></p>
  <a href="/">Back to Home</a>
</body>
</html>
